main{
  margin-bottom: 2rem;
  border: solid 0.5rem #f0f0f0;
  height: 350px;
}

div.event{
  background-color: #d2fbaf;
  margin-bottom: 0.2rem;
  padding: 0.5rem;
  height: 3em;
  position: relative;
  margin: 0.2rem;
}

div.time{
  position: absolute;
  top:8px;
  left:230px;
}

div.place{
  position: absolute;
  top:32px;
  left:230px;
}

div.detail{
  display: inline-block;
  font-weight: bold;
  font-size: 0.75rem;
  background-color: #b3f76b;
  border: solid 0.2rem #5a9674;
  border-radius: 0.7rem;
  padding: 0.5rem;
  position: absolute;
  left: 280px;
  margin-top: 1em;
}

div.select_menu{
  position: absolute;
}