main#apply {
  margin-bottom: 2rem;
  border: solid 0.5rem #f0f0f0;
}

:is(#apply_header, #apply_footer) {
  padding: 0.5rem;
  color: white;
  background-color: #5a9674;
}

.caution {
  font-size: 0.9em;
  color: #33485e;
  margin: 0.5rem;
}

#events .event {
  margin: 0.5rem;
  padding: 1rem;
  border: solid 1px #ccc;
  background-color: #d2fbaf;
}

#events .event-header {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

#events .event-body {
  font-size: 0.9em;
  line-height: 1.5;
}

#unread_num {
  text-align: right;
  font-weight: bold;
  margin: 0.5rem 0 1rem;
}

#unread_num .exmark {
  vertical-align: top;
}

#apply_list {
  margin: 0.5rem 0.5rem 1rem;
}

#apply_list > div {
  background-color: #d2fbaf;
  margin-bottom: 0.2rem;
  padding: 0.5rem;
}

#control {
  margin-left: 1rem;
  margin-bottom: 0.2rem;
}

#situation {
  text-align: center;
}

.rd{
  margin: 1.5em;
  font-weight: bold;
}