main#info {
  margin-bottom: 2rem;
  border: solid 0.5rem #f0f0f0;
}

:is(#info_header, #info_footer) {
  padding: 0.5rem;
  color: white;
  background-color: #5a9674;
}

#info_list {
  margin: 1rem 0.8rem 1rem;
}

#info_list > div {
  background-color: #d2fbaf;
  margin-bottom: 0.2rem;
  padding: 0.5rem;
}

.record {
  display: grid;
  grid-template-columns: 2.3fr 2fr;
  grid-template-rows: 2fr 2fr;
  align-items: center;
  font-size: 2ex;
}

.title {
  font-weight: bold;
}

#control {
  margin-left: 1rem;
  margin-bottom: 0.2rem;
  text-align: center;
}

.calender_btn {
  display: inline-block;
  font-size: 1.2rem;
  background-color: #555555;
  padding: 0.3rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  position: relative;
  left:245px;
}

.info_btn {
  display: inline-block;
  font-weight: bold;
  font-size: 1rem;
  background-color: #b3f76b;
  border: solid 0.2rem #5a9674;
  padding: 0.5rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  margin-top: 2.5em;
  margin-bottom: 1.5rem;
  margin-right: 1.8rem;
}

#con{
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  position: relative;
  top: -12px;
}

#info_footer span {
  background-color: white;
  border-radius: 50%;
  color: #33485e;
  margin-left: 0.5rem;
}

a {
  text-decoration: none;
  color: #33485e;
}

#dis {
  color: white;
}