main#info {
  margin-bottom: 2rem;
  border: solid 0.5rem #f0f0f0;
  height: 350px;
}

:is(#info_header, #info_footer) {
  padding: 0.5rem;
  color: white;
  background-color: #5a9674;
}


#area {
  position: relative;
  left: 55px;
  top:-22px;
}

#Form{
  position: relative;
  left: 45px;
  top:30px;
}

#det{
  position: relative;
  top:30px;
}

#info_footer{
  position: relative;
  top: 44px;
}

#submit{
  position: relative;
  left: 225px;
  font-size: 1.5rem;
}

#confirmation_message{
  font-size: 20px;
  top: 10px;
  position: relative;
  text-align: center;
}

#return_button{
  font-size: 20px;
}